[user]
	name = ayaconsa
	email = aya.consadole@gmail.com
[alias]
	co = checkout
	tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ad %Creset%x09%C(cyan)%an%Creset %x09%C(auto)%s %d' --date=format-local:'%Y/%m/%d %H:%M:%S'
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /root/.vscode-server/bin/dc96b837cf6bb4af9cd736aa3af08cf8279f7685/node /tmp/vscode-remote-containers-9bf6b56b-704b-432a-a8a1-b9569e8bffc4.js git-credential-helper $*; }; f"
