[user]
	name = ayaconsa
	email = aya.consadole@gmail.com
[alias]
	co = checkout
	tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ad %Creset%x09%C(cyan)%an%Creset %x09%C(auto)%s %d' --date=format-local:'%Y/%m/%d %H:%M:%S'
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /root/.vscode-server/bin/1e790d77f81672c49be070e04474901747115651/node /tmp/vscode-remote-containers-b4dc1951-0dca-4854-aadc-269ce4e7df6b.js git-credential-helper $*; }; f"
