<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/admin2/admin2_base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi管理画面{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<h1>レビュー一覧：{{ restaurant_name }}</h1>

<!-- パンくずリスト -->
<nav>
	<ol class="admin_breadcrumb">
    <li><a href="{% url 'admin_top' %}">管理画面トップ</a></li>
    <li><a href="{% url 'admin_restaurant_list' %}">登録店舗一覧</a></li>
    <li><a href="{% url 'admin_restaurant_detail' pk=reviews.0.restaurant.pk %}">店舗情報 詳細</a></li>
    <li>レビュー一覧</li>
	</ol>
</nav>

<!-- レビューリスト -->
<table class="admin_table_list">
	<thead>
        <tr>
			<th>投稿者</th>
			<th>評価</th>
			<th>コメント</th>
			<th>投稿日時</th>
			</tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review.user_name }}</td>
            <td>{{ review.score }}</td>
            <td>{{ review.comment }}</td>
            <td>{{ review.created_at }}</td>
			<td>
				<a class="admin_link" href="{% url 'admin_review_deletion_confirmation' pk=review.pk %}">削除</a>
			</td>	
        </tr>
        {% endfor %}
    </tbody>


</table>

{% endblock content %}
