{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>

    <header>
      <div class="admin_header">
        <div class="admin_logo">
          <h1>Nagoyameshi / <a href="{% url 'admin_top'%}">管理画面トップ</a> / <a href="{% url 'top'%}">ユーザー画面トップ</a></h1>
        </div>

        <nav class="admin_menu_right">
          <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
          </form>
        </nav>
      </div>
    </header>

    <main>
    {% block content %}{% endblock %}
    </main>

  </body>
</html>
