<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/admin2/admin2_base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi管理画面{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<div class="container">
<h1>店舗情報 削除</h1>

<!-- パンくずリスト -->
<nav>
	<ol class="admin_breadcrumb">
    <li><a href="{% url 'admin_top' %}">管理画面トップ</a></li>
    <li><a href="{% url 'admin_restaurant_list' %}">登録店舗一覧</a></li>
    <li>「{{ restaurant.name }}」店舗情報 削除</li>
	</ol>
</nav>

<form method="post">
	{% csrf_token %}
	<b>{{ restaurant.name }}</b> の店舗情報を本当に削除しますか？<br>
	<br>
	<div>
		<input class="btn btn-outline-danger" type="submit" value="削除">
	</div>
	<a class="btn btn-outline-secondary btn_margin_top" href="{% url 'admin_restaurant_list' %}">戻る</a><br>
</form>

</div>
{% endblock content %}
