<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/admin2/admin2_base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi管理画面{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<div class="container">
<h1>カテゴリ一覧</h1>

<!-- パンくずリスト -->
<nav>
	<ol class="admin_breadcrumb">
    <li><a href="{% url 'admin_top' %}">管理画面トップ</a></li>
    <li><a href="{% url 'admin_category_list' %}">カテゴリ一覧</a></li>
    <li>新規カテゴリ登録</li>
	</ol>
</nav>
<form method="post" enctype="multipart/form-data" class="input-form">
    {% csrf_token %}
    {{ form.as_p }}

<div>
    <input type="submit" class="btn btn-outline-success" value="登録">
</div>
<div>
    <a class="btn btn-outline-secondary btn_margin_top" href="{% url 'admin_category_list' %}">戻る</a>
</div>
</form>
{% endblock %}
</div>