{% extends 'NagoyameshiApp/admin2/admin2_base.html' %}

{% block title %}nagoyameshi管理画面{% endblock %}

{% block content %}
{% load static %}

<div class="container">
<h1>売上集計</h1>

<!-- パンくずリスト -->
<nav>
    <ol class="admin_breadcrumb">
        <li><a href="{% url 'admin_top' %}">管理画面トップ</a></li>
        <li>売上集計</li>
    </ol>
</nav>

<h2>年間売上</h2>

<!-- 年間売上の表 -->
<table class="admin_table_list">
    <tr>
        <th>年</th>
        <th>売上</th>
        <th>会員数（年末時点）</th>
        <th>退会人数</th>
    </tr>
    {% for data in yearly_revenue_data %}
    <tr>
        <td>{{ data.year }}</td>
        <td>{{ data.revenue|floatformat:0 }}円</td>
        <td>{{ data.subscribers }}</td>
        <td>{{ data.unsubscribes }}</td>
    </tr>
    {% endfor %}
</table>

<h2>月間売上</h2>

<!-- 月間売上の表 -->
<table class="admin_table_list">
    <tr>
        <th>月</th>
        <th>売上</th>
        <th>会員数（月末時点）</th>
        <th>退会人数</th>
    </tr>
    {% for data in monthly_revenue_data %}
    <tr>
        <td>{{ data.month }}</td>
        <td>{{ data.revenue|floatformat:0 }}円</td>
        <td>{{ data.subscribers }}</td>
        <td>{{ data.unsubscribes }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content %}
