<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/admin2/admin2_base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi管理画面{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<div class="container">
<h1>会員一覧</h1>

<!-- パンくずリスト -->
<nav>
	<ol class="admin_breadcrumb">
    <li><a href="{% url 'admin_top' %}">管理画面トップ</a></li>
    <li>会員一覧</li>
	</ol>
</nav>

<!-- 並び替えオプション -->
<form id="sort-form" method="GET" action="{% url 'admin_user_list' %}">
    <div class="select-wrapper">
        <select id="sort-select" name="sort" class="form-control sort-dropdown" onchange="this.form.submit()">
            {% for value, label in sort_options %}
            <option value="{{ value }}" {% if value == selected_sort %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <span class="select-arrow">▽</span>
    </div>
</form>
</div>

<!-- 会員リスト -->
<table class="admin_table_list">
	<tr>
		<th class="id">会員ID</th>
		<th>氏名</th>
		<th class="furigana">フリガナ</th>
		<th class="email">メールアドレス</th>
		<th class="text-center">サブスク</th>
		<th>生年月日</th>
		<th>郵便番号</th>
		<th class="address">住所</th>
		<th>電話番号</th>
		<th class="works">職業</th>
	</tr>
    {% for user in object_list %}
    <tr>
        <td class="id">{{ user.id }}</td>
        <td>{{ user.name}}</td>
        <td class="furigana">{{ user.furigana }}</td>
        <td class="email">{{ user.email }}</td>
        <td class="text-center">
            {% if user.subscription %}
                &#x25CB
            {% endif %}
        </td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.zipcode }}</td>
        <td class="address">{{ user.address }}</td>
        <td>{{ user.tel }}</td>
        <td class="works">{{ user.works }}</td>
	</tr>
    {% endfor %}
</table>


{% endblock content %}
