/* ******ロゴとナビゲーションバー */

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 240px;
  box-sizing: border-box;
}


/* トップページ用 */
.my_header_top_page {
  position: relative;
  height: 300px;
}

.my_navbar_top_page {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
  background-color: #2B2A4C;
  opacity: .9;
}

/* base用 */
.my_navbar_base {
  position: relative;
  width: 100%;
  z-index: 2;
  top: 0;
  background-color: #2B2A4C;
  margin-bottom: 20px;
}

/* *******カルーセル */

.my_carousel_img {
  position: relative;
  height: 300px;
  object-fit: cover;
}

/* *******検索ボックス */

.search_box {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 20px;
  z-index: 1; /* カルーセルの上に表示 */
}

.search_txt {
  width: 250px;
  display: inline-block;
}

/* カーソル乗せると透明になっちゃうのどうにかする */
.search_btn {
  color: #FFFFFF;
  background-color: #B31312;
}


/* ********評価の高いお店 */

.top_rated {
  display: block;
  margin: 20px;
  padding: 0 10px 50px 10px;
  border-bottom: solid 0.5px #000000;
}

h2 {
  font-size: 20px;
  margin: 40px 0px 20px 0px;
}

/* ******料理ジャンルから探す */

.genre {
  display: block;
  margin: 20px;
  padding: 0 10px 50px 10px;
  border-bottom: solid 0.5px #000000;
}

.genre a {
  margin: 10px 5px;
}


/* ******新規掲載店舗 */

.latest {
  display: block;
  margin: 20px;
  padding: 0 10px 50px 10px;
}



/* フッター */

.user_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2B2A4C;
  text-align: center;
  padding: 10px;
}

.footer_brand {
  margin: 20px;
}

.footer_brand > a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  margin: 20px;
}

.footer_brand > a:link {
  color: #ffffff;
}

.footer_brand > a:visited {
  color: #ffffff;
}

.footer_brand > a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer_brand > a:active {
  color: #ffffff;
}

.footer_link {
  margin: 20px;
}

.footer_link > a {
  font-size: 12px;
  text-decoration: none;
  margin: 10px;
}

.footer_link > a:link {
  color: #ffffff;
}

.footer_link > a:visited {
  color: #ffffff;
}

.footer_link > a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer_link > a:active {
  color: #ffffff;
}

.footer_copyright {
  font-size: 12px;
  color: #ffffff;
  margin: 30px;
}


/* パンくずリスト */

.breadcrumb {
  list-style: none;
}

/* 会社概要 */

.my_table {
  max-width: 600px;
}

.my_table_tr {
  width: 30%;
}

/* 利用規約 */

.my_terms_of_use {
  max-width: 700px;
}

/* *******************店舗一覧******************* */

/* 左側カラム（検索窓） */
.list_search_all {
  background-color: #EEE2DE;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 16px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.list_search {
  margin: 0px 15px;
  padding: 20px 0;
  flex-grow: 1;
}

.list_search_item {
  display: block;
  margin: auto;
  text-align: center;
}

.list_search_item span {
  font-size: large;
  font-weight: 700;
}

.list_search_box {
  display: block;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.border_bottom {
  border-bottom: solid 0.5px #000000;
}

/* 親要素 */
.list_search_item_price {
  display: block;
  margin: auto;
  text-align: center;
}

/* 子要素 */
.list_search_box_price {
  display: inline-block;
  width: 48%;
  text-align: center;
  margin: 5px 0px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.mt-3 {
  margin-top: 1rem;
}

/* 右側カラム */
.list_right_column {
  display: block;
}

.hit_restaurants_number {
  padding: 0px 20px;
}


.hit_restaurants_number span {
  font-size: x-large;
  font-weight: 700;
}


/* 店舗詳細ページ */
/* ▼タブ */
#my_tabcontrol {
  margin-bottom: 0;
}

#my_tabcontrol a {
  display: inline-block;            /* インラインブロック化 */
  border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
  border-style: solid;              /* 枠線の種類：実線 */
  border-color: black;            /* 枠線の色：黒色 */
  border-radius: 0.75em 0.75em 0 0; /* 枠線の左上角と右上角だけを丸く */
  padding: 0.75em 1em;              /* 内側の余白 */
  text-decoration: none;            /* リンクの下線を消す */
  color: black;                   /* 文字色：黒色 */
  background-color: white;        /* 背景色：白色 */
  font-weight: bold;                /* 太字 */
  position: relative;               /* JavaScriptでz-indexを調整するために必要 */
}
/* ▼タブにマウスポインタが載った際(任意) */
#my_tabcontrol a:hover {
  text-decoration: underline;       /* 文字に下線を引く */
}

/* ▼タブの中身 */
#my_tabbody div {
  border: 1px solid black;       /* 枠線：黒色の実線を1pxの太さで引く */
  margin-top: -1px;                /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
  padding: 1em;                    /* 内側の余白量 */
  background-color: white;       /* 背景色：白色 */
  position: relative;              /* z-indexを調整するために必要 */
  z-index: 0;                      /* 重なり順序を「最も背面」にするため */
}

/* ▼タブの配色 */
#my_tabcontrol a:nth-child(1), #my_tabbody div:nth-child(1) {
  background-color: #ffffdd; 
}   /* 1つ目のタブとその中身用の配色 */

#my_tabcontrol a:nth-child(2), #my_tabbody div:nth-child(2) { 
  background-color: #ddffdd; 
}   /* 2つ目のタブとその中身用の配色 */

#my_tabcontrol a:nth-child(3), #my_tabbody div:nth-child(3) { 
  background-color: #ddddff; 
}/* 3つ目のタブとその中身用の配色 */




.user_login {
  width: 300px;
  margin: 15px auto;
  position: relative;
  text-align: center;
}

.user_login h1 {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid;
}

.user_login input[type="text"],
.user_login input[type="password"] {
  width: 90%;
  margin: 20px 0;
  padding: 5px;
}

.auto_login {
  padding: 20px 0;
  border-bottom: 1px solid;
}

.user_login button[type="submit"] {
  margin-top: 20px;
  padding: 8px 15px;
  background-color: #B31312;
  color: white;
  border: none;
  border-radius: 10px;
  width: 60%;
  text-align: center;
}

.user_login_a {
  margin: 15px;
}

.user_login a {
  color: #B31312;
  text-decoration: none;
}

.account_create {
  width: 500px;
  margin: 15px auto;
  text-align: center;
}

.account_create h1 {
  padding: 30px;
  border-bottom: 1px solid;
}

.account_create_form {
  border-bottom: 1px solid;
  text-align: left;
  padding: 20px;
}

.account_create label {
  margin: 10px 0;
}

.account_create_title {
  display: inline-block;
  min-width: 200px;
  text-align: left;
  vertical-align: middle;
}

.account_create_required {
  background-color: #B31312;
  color: #EEE2DE;
  font-size: small;
  padding: 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.account_create_no_required {
  font-size: small;
  padding: 5px;
  border-radius: 5px;
}

.account_create button[type="submit"] {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 8px 15px;
  background-color: #B31312;
  color: white;
  border: none;
  border-radius: 10px;
  width: 60%;
  text-align: center;
}

.account_create a {
  color: #B31312;
  text-decoration: none;
  text-align: center;
}










/* ********** admin *********** */

/* 店舗詳細ページ */


.admin_table {
  width: 80%;
  margin: 30px;
}

.admin_table tr {
  border-bottom: solid 1px gray;
}

.admin_table th {
  width: 25%;
  padding: 10px;
}

.admin_table td {
  padding: 10px;
}

.admin_link {
  text-decoration: none;
}

.admin_btn_parent {
  display: flex;
  /* ボタンの左右の揃え方 */
  justify-content: left;
}

.admin_btn {
  display: flex;
    /* 文字の左右の揃え方 */
    justify-content: center;
    /* 上下の揃え方 */
    align-items: center;
    position: relative;
    width: 150px;
    height: 40px;
    color: #000000;
    text-decoration: none;
    background-color: #9EAFDC;
    border-radius: 10px;
  margin: 10px;
  margin-left: 30px;
}

.admin_restaurant_img {
  display: flex;
  margin: auto;
  width: 80%;
  margin-bottom: 30px;
}

.admin_restaurant_edit_textbox {
  width: 100%;
}

.admin_restaurant_edit_textarea {
  width: 100%;
}


.admin_breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.admin_breadcrumb li:not(:last-of-type)::after {
  content: ">";
  margin: 10px;
}

.admin_table_list {
  width: 90%;
  margin: 20px;
}

.admin_table_list tr {
  border-bottom: solid 1px gray;
}

.admin_table_list th {
  padding: 5px;
}

.admin_table_list td {
  padding: 5px;
}

.admin_table_list_bookings {
  width: 90%;
  margin: 20px;
}

.admin_table_list_bookings tr {
  border-bottom: solid 1px gray;
}

.admin_table_list_bookings th {
  padding: 5px;
}

.admin_table_list_bookings td {
  padding: 5px;
}

.admin_header {
  width: 100%;
  height: 40px;
  background-color: #EEE2DE;
  margin-bottom: 20px;
}

.admin_logo h1{
  float: left;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 18px;
}

.admin_logo a, .admin_menu_right button {
  color: #4c586f;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.admin_logo a:hover, .admin_menu_right button:hover {
  color: #a2aab0;
}

.admin_menu_right {
  float: right;
  padding-right: 15px;
  padding-top: 10px;
}

.admin_menu_right a {
  color: #4c586f;
  text-decoration: none;
}

.admin_menu_right a:hover {
  color: #a2aab0;
}

.admin_table_category_list {
  margin: 20px;
}

.admin_table_category_list tr {
  border-bottom: solid 1px gray;
}

.admin_table_category_list td {
  padding: 5px;
}

.admin_table_category_list td a {
  padding-left: 15px;
}

.admin_login {
  width: 300px;
  justify-content: left;
}

.admin_login p {
  padding: 15px 0 5px 0;
  margin-bottom: 0;
  margin-left: 15px;
}

.admin_login input[type="text"],
.admin_login input[type="password"] {
  width: 90%;
  margin-left: 15px;
}

.admin_login button[type="submit"] {
  margin: 30px 0 0 15px;
  padding: 5px 15px;
  background-color: #2B2A4C;
  color: white;
  border: none;
  
}

.restaurant-regist {
  width: 60%;
  margin: 0 auto;
}

.restaurant-regist p {
  width: 80%;
  margin: 25px auto;
}

.restaurant-regist label {
  min-width: 20%;
}


/* サブスク案内ページ */

.subscription-guide-container {
  display: flex;
  justify-content: center;
}
.subscription-guide {
  max-width: 700px;
  text-align: center;
}
.subscription-guide ul {
  text-align: left;
  margin: 0 auto;
  display: inline-block;
}
.subscription-guide form {
  max-width: 400px;
  margin: 20px auto;
}
.subscription-guide p {
  margin-top: 15px;
}


.select-wrapper {
  position: relative; /* 子要素であるselect-arrowが親要素の位置を基準に配置されるように */
  display: inline-block; /* 子要素であるselect-arrowを一つのブロックとして扱い、横並びの要素として扱う */
}

.select-wrapper select {
  appearance: none; /* デフォルトのブラウザ依存のスタイルをなくす */
  -webkit-appearance: none; /* Safariのためのベンダープリフィックス */
  -moz-appearance: none; /* Firefoxのためのベンダープリフィックス */
  padding-right: 20px; /* カスタム矢印が枠に重ならないようにスペースを確保 */
}

.select-arrow {
  position: absolute; /* select-arrowの位置を親要素（select-wrapper）に対して絶対的に配置 */
  top: 50%; /* 垂直方向に中央揃え */
  right: 10px; /* 矢印を右から10pxの位置に配置 */
  pointer-events: none; /* 矢印をクリックしても何も起こらないように設定 */
  transform: translateY(-50%); /* 矢印の位置を上に50%移動して、垂直方向に完全に中央揃えに。top: 50%;と組み合わせることで中央揃えが実現される */
  font-size: 16px;
  color: black;
}

/* レビューの区切り線 */
.review-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

/* 最後のレコードの下に区切り線を表示しない（JSと併用） */
.review-item:last-child {
  border-bottom: none;
}

/* 予約日を過ぎたレコードの背景をグレーに */
.past-booking {
  background-color: #d3d3d3;
}

/* 会員一覧の偶数行に背景をつける */
.admin_table_list tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* 会員一覧のドロップダウンメニューのスタイルを調整 */
.sort-dropdown {
  width: auto;
  display: inline-block;
}




/* テーブルのスタイル調整 */
.admin_table_list {
  width: 97%;
  border-collapse: collapse;
}

.admin_table_list th, .admin_table_list td {
  word-wrap: break-word;  /* テキストを折り返す */
}

/* 各列の幅を比率で調整 */
.admin_table_list th.id, .admin_table_list td.id {
  width: 3%;
}

.admin_table_list th.email, .admin_table_list td.email {
  width: 12%;
  word-break: break-all;  /* 長い文字列を折り返す */
}

.admin_table_list th.address, .admin_table_list td.address {
  width: 15%;
  word-break: break-all;  /* 長い文字列を折り返す */
}

.admin_table_list th.text-center, .admin_table_list td.text-center {
  width: 5%;
}

.admin_table_list th.works, .admin_table_list td.works {
  width: 7%;
  word-break: break-all;  /* 長い文字列を折り返す */
}

.admin_table_list th.furigana, .admin_table_list td.furigana {
  width: 12%;
  word-break: break-all;  /* 長い文字列を折り返す */
}

.admin_table_list th.comment, .admin_table_list td.comment {
  width: 50%;
  word-break: break-all;  /* 長い文字列を折り返す */
}

/* 残りの列は適宜調整 */
.admin_table_list th, .admin_table_list td {
  width: auto;
}

/* お気に入りボタン */
.favorite-btn {
  background: none;
  border: none;
  color: red;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.favorite-btn:hover {
  color: darkred;
}

/* ページネーションのカスタマイズ */
.pagination .page-link {
  color: #2B2A4C;
}

.pagination .page-item.active .page-link {
  background-color: #2B2A4C;
  border-color: #2B2A4C;
  color: white;
}

.pagination .page-item.active .page-link:hover {
  background-color: #2B2A4C;
  border-color: #2B2A4C;
}

.pagination .page-link:hover {
  color: #2B2A4C;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
  background-color: #fff;
  border-color: #dee2e6;
}

/* レビューの星の色 */
.star-rating {
  color: #FF9A00;
}

/* レビュー日時のデザイン */
.review-date {
  font-size: 0.9em;
  color: #666;
}

/* レビュー投稿ボタンの余白 */
.create_review {
  margin: 20px;
}

.star-rating_form {
  color: #FF9A00; /* 星の色を黄色に設定 */
  display: block; /* 縦並びにするためにブロック要素に設定 */
  margin: 5px 0; /* 各星の間に少しのマージンを追加 */
  text-align: left; /* ラベルの左寄せ */
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.review_form_button {
  text-align: center;
  width: 100%;
}

.account_create_ul {
  font-size: 0.9em;
  color: #666;
}

.btn_margin {
  margin: 20px;
}

.register_form label {
  min-width: 130px;
}

.booking_form label {
  min-width: 70px;
}

.restaurant_form label {
  min-width: 110px;
}

.btn_margin_top {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-link {
  text-decoration: none;
  color: black;
}
.card-link:hover {
  text-decoration: none;
  color: black;
}
.card-body {
  padding: 10px;
}
.card-title {
  margin-bottom: 5px;
}
.card-text {
  margin-bottom: 5px;
}