<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/user/base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<div class="container">
  <div class="row justify-content-center">
                          
    <!-- パンくずリスト -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'account_info' %}">会員情報</a></li>
        <li class="breadcrumb-item active" aria-current="page">会員情報変更</li>
      </ol>
    </nav>

    <!-- タイトル -->
    <h1 class="mb-4 text-center">会員情報</h1>

    <!-- テーブル -->
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="container my_table">
        <table class="table">
          <tbody>
            <tr>
              <th class="w-25" scope="row">氏名</th>
              <td>{{ form.name }}</td>
            </tr>
            <tr>
              <th class="w-25" scope="row">フリガナ</th>
              <td>{{ form.furigana }}</td>
            </tr>
            <tr>
              <th class="w-25" scope="row">生年月日</th>
              <td>{{ form.birthday }}</td>
            </tr>
            <tr>
              <th class="w-25" scope="row">郵便番号</th>
              <td>{{ form.zipcode }}</td>
            </tr>
            <tr>
              <th class="w-25" scope="row">住所</th>
              <td>{{ form.address }}</td>
            </tr>
            <tr>
              <th class="w-25" scope="row">電話番号</th>
              <td>{{ form.tel }}</td>
            </tr>
            <tr>
              <th class="w-25" scope="row">ご職業</th>
              <td>{{ form.works }}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      
      <!-- 登録ボタン -->
      <div class="mt-4 text-center">
        <input type="submit" value="登録" class="btn btn-outline-success">
        <a href="{% url 'account_info' %}" class="btn btn-outline-secondary ml-2">戻る</a>
      </div>

    </form>
      
    </div>
  </div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock content %}
