{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
	<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="wrapper">

      <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark my_navbar_base">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'top' %}">Nagoyameshi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                <span class="navbar-text">ようこそ {{ user.name }} さん</span>
                  {% if user.subscription %}
                    <!-- サブスク会員の場合のメニュー -->
                    <a class="nav-link" href="{% url 'favorites' %}">お気に入り一覧</a>
                    <a class="nav-link" href="{% url 'bookings' %}">予約一覧</a>
                    <a class="nav-link" href="{% url 'account_info' %}">会員登録情報</a>
                    <a class="nav-link" href="{% url 'unsubscribe' %}">有料会員の解約</a>
                  {% else %}
                    <!-- 無料会員の場合のメニュー -->
                    <a class="nav-link" href="{% url 'account_info' %}">会員登録情報</a>
                    <a class="nav-link" href="{% url 'subscription_guide' %}">有料会員のご案内</a>					
                  {% endif %}
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-success flex-shrink-0" type="submit">ログアウト</button>
                  </form>
                {% else %}
                  <!-- ログインしていない場合のメニュー -->
                  <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                  <a class="nav-link" href="{% url 'account_create' %}">新規会員登録</a>
                {% endif %}
                </div>
            </div>
          </div>
        </nav>
        <!-- **************Navbarここまで -->


      <main>
        {% block content %}{% endblock %}
      </main>
        


      <!-- ********フッター -->
      <footer class="user_footer">
        <div class="footer_brand">
          <a href="{% url 'top' %}">Nagoyameshi</a>
        </div>
        <div class="footer_link">
          <a href="{% url 'company_overview' %}">会社概要</a>
          <a href="{% url 'terms_of_use' %}">利用規約</a>
        </div>
				<div class="footer_copyright">
					<span>&copy;NAGOYAMESHI ALL rights reserved.</span>
				</div>
    </div>
  </body>
</html>


