{% extends 'NagoyameshiApp/user/base.html' %}
{% block title %}nagoyameshi{% endblock %}
{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'restaurant_list' %}">店舗一覧</a></li>
      <li class="breadcrumb-item"><a href="{% url 'restaurant_detail' restaurant.pk %}">店舗詳細</a></li>
      <li class="breadcrumb-item active" aria-current="page">予約</li>
    </ol>
  </nav>
  <h3>{{ restaurant.name }}</h3>
  {% if user.is_authenticated and user.subscription %}
  <form method="post" action="{% url 'create_booking' restaurant.pk %}">
    {% csrf_token %}
    {{ booking_form.as_p }}
    <button type="submit" class="btn search_btn list_search_item">予約する</button>
  </form>
  {% else %}
  <p>予約機能は有料会員専用サービスです。<br>
  月額300円の有料プランについては<a href="{% url 'subscription_guide' %}">こちら</a></p>
  {% endif %}
</div>
{% endblock %}
