{% extends 'NagoyameshiApp/user/base.html' %}

{% block title %}パスワード変更完了|Nagoyameshi{% endblock %}

{% block content %}
<div class="container text-center">
  <!-- パンくずリスト -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'account_info' %}">会員情報</a></li>
      <li class="breadcrumb-item active" aria-current="page">パスワード変更</li>
    </ol>
  </nav>

  <h3>パスワード変更完了</h3>
  <p>パスワードが正常に変更されました。</p>
  <a href="{% url 'top' %}" class="btn btn-outline-success">トップページに戻る</a>
</div>
{% endblock %}
