<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/user/base.html' %}

<!-- ページタイトル -->
{% block title %}パスワード変更|Nagoyameshi{% endblock %}

<!-- コンテンツ本体 -->
{% load static %}
{% block content %}
<div class="container">
  <!-- パンくずリスト -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'account_info' %}">会員情報</a></li>
      <li class="breadcrumb-item active" aria-current="page">パスワード変更</li>
    </ol>
  </nav>

  <h3 class="text-center">パスワード変更</h3>
  <div class="form-container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="text-center">
        <button type="submit" class="btn btn-outline-success">変更</button>
      </div>
      <div class="text-center">
        <a href="{% url 'account_info' %}" class="btn btn-outline-secondary btn_margin">戻る</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
