<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/user/base.html' %}

<!-- ページタイトル -->
{% block title %}nagoyameshi{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

  <div class="container">
    <!-- 備忘録）カラム使用時にrow忘れない -->
  <div class="row">

    <!-- パンくずリスト -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'restaurant_list' %}">店舗一覧</a></li>
      </ol>
    </nav>

    <!-- 左側のカラム（検索窓） -->
    <div class="col-xl-3 col-lg-4 col-md-12 list_search_all">
      <!-- キーワード検索 -->
      <div class="list_search border_bottom">
        <div class="fs-6 list_search_item">
          <span>キーワード</span>から探す
        </div>
        <form method="GET" action="{% url 'restaurant_list' %}">
          <input type="text" name="keyword" placeholder="店舗名・エリアなど" class="form-control list_search_box">
          <button type="submit" class="btn search_btn list_search_item">検索</button>
        </form>
      </div>

      <!-- ジャンル検索 -->
      <div class="list_search border_bottom">
        <div class="fs-6 list_search_item">
          <span>ジャンル</span>から探す
        </div>
        <form method="GET" action="{% url 'restaurant_list' %}">
          <select name="genre" class="form-control list_search_box">
            <option value="">選択してください</option>
            <option value="和食">和食</option>
            <option value="洋食">洋食</option>
            <option value="中華">中華</option>
            <option value="フレンチ">フレンチ</option>
            <option value="イタリアン">イタリアン</option>
            <option value="名古屋コーチン">名古屋コーチン</option>
            <option value="味噌カツ">味噌カツ</option>
            <option value="うなぎ">うなぎ</option>
            <option value="おでん">おでん</option>
            <option value="焼き鳥">焼き鳥</option>
            <option value="うどん・そば">うどん・そば</option>
            <option value="きしめん">きしめん</option>
            <option value="焼肉">焼肉</option>
            <option value="ハンバーガー">ハンバーガー</option>
          </select>
          <button type="submit" class="btn search_btn list_search_item">検索</button>
        </form>
      </div>

      <!-- 予算から探す -->
      <div class="list_search">
        <div class="fs-6 list_search_item">
          <span>予算</span>から探す
        </div>
        <div class="list_search_item_price">
        <form method="GET" action="{% url 'restaurant_list' %}">
          <select name="list_price_min" class="form-control list_search_box_price">
            <option value="1000">1,000 円</option>
            <option value="2000">2,000 円</option>
            <option value="3000">3,000 円</option>
            <option value="4000">4,000 円</option>
            <option value="5000">5,000 円</option>
            <option value="6000">6,000 円</option>
            <option value="8000">8,000 円</option>
            <option value="10000">10,000 円</option>
            <option value="15000">15,000 円</option>
            <option value="20000">20,000 円</option>
            <option value="30000">30,000 円</option>
          </select>
          <p class="list_search_box_price"> 〜 </p>
          <select name="list_price_max" class="form-control list_search_box_price">
            <option value="1000">1,000 円</option>
            <option value="2000">2,000 円</option>
            <option value="3000">3,000 円</option>
            <option value="4000">4,000 円</option>
            <option value="5000">5,000 円</option>
            <option value="6000">6,000 円</option>
            <option value="8000">8,000 円</option>
            <option value="10000">10,000 円</option>
            <option value="15000">15,000 円</option>
            <option value="20000">20,000 円</option>
            <option value="30000">30,000 円</option>
          </select>
          </div>
          <button type="submit" class="btn search_btn list_search_item">検索</button>
        </form>
      </div>

    </div>

    <!-- 右側のカラム -->
    <div class="col list_right_column d-flex flex-column align-items-center">
      <!-- 上部 -->
      <div class="d-flex justify-content-between align-items-center mb-3 w-100">
        <!-- 検索された店舗数 -->
        <div class="hit_restaurants_number">
          <span>{{ restaurants.paginator.count }}</span>店舗（{{ restaurants.start_index }}〜{{ restaurants.enx_index }}件）
        </div>

        <!-- 並び替え -->
        <div>
          <form id="sort-form" method="GET" action="{% url 'restaurant_list' %}">
            <select id="sort-select" name="sort" class="form-control">
              <option value="掲載日が新しい順">掲載日が新しい順</option>
              <option value="価格が安い順">価格が安い順</option>
              <option value="価格が高い順">価格が高い順</option>
              <option value="予約数順">予約数順</option>
            </select>
          </form>
        </div>
      </div>

      <!-- 店舗カード -->
      <div class="mb-3">
        {% for restaurant in restaurants %}
        <a href="{% url 'restaurant_detail' restaurant.pk %}">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ restaurant.img.url }}" class="img-fluid rounded-start" alt="{{ restaurant.name }}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ restaurant.name }}</h5>
                <p class="card-text">{{ restaurant.catch_copy }}</p>
                <p class="card-text"><small class="text-body-secondary">{{ restaurant.category }}</small></p>
                <p class="card-text"><small class="text-body-secondary">&#9733; {{ restaurant.get_average.0 }}（{{ restaurant.get_average.1 }}件）</small></p>
              </div>
            </div>
          </div>
        </div>
        </a>
        {% endfor %}  

      </div>

      <!-- ページネーション -->
      <nav aria-label="Page navigation example w-100">
        <ul class="pagination">
            {% if restaurants.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in restaurants.paginator.page_range %}
            <li class="page-item {% if num == restaurants.number %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if restaurants.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ restaurants.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
      </nav>


    </div>
  </div>
  </div>

<script src="{% static 'js/script_restaurant_list.js' %}"></script>

{% endblock content %}
