{% extends 'NagoyameshiApp/user/base.html' %}
{% load custom_filters %}
{% block title %}nagoyameshi{% endblock %}
{% block content %}
{% load static %}
<!-- 店舗詳細ページ -->
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'restaurant_list' %}">店舗一覧</a></li>
      <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
    </ol>
  </nav>
  <h3>{{ restaurant.name }}</h3>
  <p>&#9733; {{ average_score }}（{{ review_count }}件）</p>

  <!-- お気に入り追加ボタン -->
  <div class="container">
    <button id="favorite-btn" data-favorite="{% if is_favorite %}true{% else %}false{% endif %}" data-restaurant-id="{{ restaurant.id }}">
      {% if is_favorite %}
        お気に入りから削除
      {% else %}
        お気に入りに追加
      {% endif %}
    </button>
  </div>

  <img src="{{ restaurant.img.url }}" class="img-fluid rounded-start" alt="{{ restaurant.name }}">
  <h2>{{ restaurant.catch_copy }}</h2>
  <p>{{ restaurant.explanation }}</p>
  <table class="table">
    <tbody>
      <tr>
        <th class="w-25" scope="row">価格帯</th>
        <td>{{ restaurant.price_max }}円〜{{ restaurant.price_min }}円</td>
      </tr>
      <tr>
        <th class="w-25" scope="row">座席数</th>
        <td>{{ restaurant.seat }}席</td>
      </tr>
      <tr>
        <th class="w-25" scope="row">住所</th>
        <td>{{ restaurant.address }}</td>
      </tr>
      <tr>
        <th class="w-25" scope="row">予約・お問い合わせ</th>
        <td>{{ restaurant.tel }}</td>
      </tr>
      <tr>
        <th class="w-25" scope="row">営業時間</th>
        <td>{{ restaurant.open_time }} 〜 {{ restaurant.close_time }}</td>
      </tr>
      <tr>
        <th class="w-25" scope="row">定休日</th>
        <td>{{ restaurant.close_day }}</td>
      </tr>
      <tr>
        <th class="w-25" scope="row">カテゴリ</th>
        <td>{{ restaurant.category }}</td>
      </tr>
    </tbody>
  </table>
  <p>
    <a href="{% url 'create_booking' restaurant.pk %}">予約</a> | 
    <a href="{% url 'reviews' restaurant.pk %}">レビュー</a>
  </p>
</div>

<script src="{% static 'js/script_favorite.js' %}"></script>

{% endblock %}