{% extends 'NagoyameshiApp/user/base.html' %}
{% block title %}nagoyameshi{% endblock %}
{% block content %}
{% load static %}
{% load custom_filters %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'restaurant_list' %}">店舗一覧</a></li>
      <li class="breadcrumb-item"><a href="{% url 'restaurant_detail' restaurant.pk %}">店舗詳細</a></li>
      <li class="breadcrumb-item active" aria-current="page">レビュー</li>
    </ol>
  </nav>
  <h3>{{ restaurant.name }}</h3>
  {% if user.is_authenticated and user.subscription %}
  <a href="{% url 'review_create' restaurant.pk %}" class="btn btn-primary">レビューを投稿する</a>
  {% for review in reviews %}
  <p>{{ review.user.name }}</p>
  <p>
    {% for _ in review.score|get_range %}
    &#9733;
    {% endfor %}
  </p>
  <p>{{ review.comment }}</p>
  {% endfor %}

  <nav aria-label="Page navigation example w-100">
    <ul class="pagination">
      {% if reviews.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ reviews.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for num in reviews.paginator.page_range %}
      <li class="page-item {% if reviews.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %}
      {% if reviews.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ reviews.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% else %}
  <p>レビュー閲覧・投稿は有料会員専用サービスです。<br>
  月額300円の有料プランについては<a href="{% url 'subscription_guide' %}">こちら</a></p>
  {% endif %}
</div>
{% endblock %}
