<!-- base.htmlを継承する -->
{% extends 'NagoyameshiApp/user/base.html' %}

<!-- ページタイトル -->
{% block title %}有料プランのご案内|Nagoyameshi{% endblock %}

<!-- コンテンツ本体 -->
{% block content %}
{% load static %}

<div class="container">
  <!-- パンくずリスト -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">有料プランのご案内</li>
    </ol>
  </nav>

  <!-- 中央寄せの要素 -->
  <div class="subscription-guide-container">
    <div class="subscription-guide">
      <!-- タイトル -->
      <h1 class="mb-4 text-center">有料プランのご案内</h1>

      <!-- プラン詳細 -->
      <div class="container text-center">
        <ul class="list-unstyled">
          <li>・店舗予約ができる</li>
          <li>・お気に入り登録ができる</li>
          <li>・レビュー投稿ができる</li>
          <li>・月額300円</li>
        </ul>
      </div>

      <!-- クレジットカード登録フォーム -->
      <form action="{% url 'create_checkout_session' %}" method="post" class="text-center">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success">登録</button>
      </form>
    </div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  // JavaScript for Stripe Checkout
  const stripe = Stripe("{{ stripe_publishable_key }}");
</script>

{% endblock content %}